

.contact{

text-align:center;
}

.contactus{
    background-image: url("/assets/contact.png");
    background-size: cover;
    height: 70vh;
    margin-top: -70px;
    z-index: 0;
}

.contact h1{
color:#2563eb;
margin-bottom:30px;
}

.contact img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
} 

.contact a{
    text-decoration: none;
    color: #2563eb;

}

.contact a:hover{

    text-decoration: underline;
    transform: scale(0,1);
    color: #00194e;
}

.contactPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 80px auto;
    width:100%;
    gap:20px
    
}


.phoneNum,
.whatsappNum,
.emailNum {
    padding: 20px;
   
   
    border-radius: 30px;
    border-right: 3px solid #ec4899;
    
    /* font-size: 20px; */
   
   

}



