.heroSwiper {
  height: auto;
  width: 100%;
  position: relative;
}

.heroSlide {
  height: 80vh;
  width: 100%;
  display: inline-block;
  background-position: left;
  background-repeat: no-repeat;
  background-size:contain;
}

.heroContent {
   height: 100vh;
  width: 70%;
  display: inline-block;
  position:absolute;
  bottom: 0px;
  right:0;
 
 
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  
  color: white;
 padding-bottom: 30px;
 padding-right: 30px;
  border-left: 4px solid #ec4899;
  clip-path: polygon( 
        20% 0%,    /* top-left inward */
    100% 0%,   /* top-right */
    100% 99%, /* bottom-right */
    40% 99%,  /* bottom-left inward */
    40% 80%     /* middle-left tip */
);
}

.heroInner {
  max-width: 500px;
  margin-left: 40%;
}

.heroInner h1 {
  
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.heroInner p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.heroBtn {
  padding: 14px 15px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
   font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.buttonLink{
  text-decoration: none;
  color: #fff;
}

.heroBtnContact {
  padding: 14px 15px;
  background: #ec4899;
  border: none;
  margin-left: 20px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
   font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


.heroBtn:hover {
  background: #2563eb;
}

.heroBtnContact:hover {
  background: #ec4899;
}


/* CURVED SPLITTER */
.curveDivider {
  position: absolute;
  right: 45%;
  top: 0;
  width: 120px;
  height: 100%;
  pointer-events: none;
}

.curveDivider svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {


  .swiper{
    height:50vh;
  }

  .heroSlide{
    height: 50vh;
    background-size: cover;
  }
  .heroContent {
   
    width: 100%;    
    height: 50vh;

    background-size: contain;

    
    position: absolute;
    top: 0%;
    clip-path: none;
    padding: 0;
    background: rgba(0, 0, 0, 0.55);
    
   
   
  }

  .curveDivider {
    display: none;
  }

  .heroInner{
    
   margin: 0 auto;
    padding-bottom: 10px;
  }
  .heroInner h1 {
    /* font-size: 4.5vw; */
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .heroInner p {
    /* font-size: 2.5vw; */
    padding-left: 10px;
    margin: 0;
    margin-bottom: 20px;

        

  }

  .heroBtn{
    margin-left: 20px;
    font-weight: 400;
    height: 40px;
    padding: 14px 15px;
    
  }

  .heroBtn, .heroBtnContact {
    margin: 10px auto;
    /* display: block; */
    /* width: 80%; */
  }
}

/* default bullets (not active) */

.heroSwiper .swiper-pagination-bullet{
 
  background: #2563eb;   /* blue */
  opacity: 0.4;
  margin: 0 6px;
  transition: 0.3s;
  

}

.heroSwiper .swiper-pagination-bullet-active{
  background: #ec4899;   /* pink */
  opacity: 1;
  transform: scale(1.2);
}

/* .heroSwiper .swiper-pagination{
  position:absolute;
  right:40px;
  bottom:35px;
  width:auto;
  display:flex;
  gap:10px;
} */


/* Mobile */
@media (max-width: 600px) {

  .heroSlide {
    height: 40vh;
  }
  .heroContent {
    height: auto;
    padding: 15px;
  }
  .heroInner h1 {
    font-size: 22px;
  }
  .heroInner p {
    font-size: 14px;
  }
  .heroBtn, .heroBtnContact {
    width: 10%;
    font-size: 12px;
  }
}