
*{
   font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}


body{
  display: relative;
 
}
.hidden {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.7s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; /* WhatsApp green */
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  background-color: #20b858; /* darker green on hover */
}
