.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
position: relative;
z-index: 4;
}



.navbar h2{
color:#2563eb;
margin: 0;
}

.navbar .name1{
    color: #ec4899;
}
.links a{
 padding: 10px 20px;
  text-decoration: none;
  color: #2563eb;
  border-radius: 4px;
  transition: 0.3s;
}

.links a:hover{
color:#ec4899;
}

.links a.active{
    background-color: #ec4899;
    color: #fff;
}

 .langPar{
    background-color: #ec4899;
    
    border: 1 solid #fff;

 }

 .langPar select{
    background-color: #ec4899;
    color: #fff;
    border: none;
    height: 40px;
   
 }



 .langPar select:focus{
     border: none;
     outline: none;

 }


@media (max-width: 800px) {
    .humberger{
    width: 30px;

    position: absolute;
    right: 10px;
    
    z-index: 3;

}

.langPar{
    position: absolute;
    right: 50px;
}

.humberger hr{
    background-color: #2563eb;
    height: 3px;
    border-color: #2563eb;
}

.links{
    position: absolute;
    width: 200px;
    height: 80vh;
    right: 0;
    top: 50px;
    z-index: 2;
    background-color: #fff;
    border-radius: 5px;
    

}

.linkItem{
    display: block;
    margin-bottom: 30px;
}

.view{
    display: none;
}

}

