.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}



.navbar h2{
color:#2563eb;
margin: 0;
}

.navbar .name1{
    color: #ec4899;
}
.links a{
 padding: 10px 20px;
  text-decoration: none;
  color: #2563eb;
  border-radius: 4px;
  transition: 0.3s;
}

.links a:hover{
color:#ec4899;
}

.links a.active{
    background-color: #ec4899;
    color: #fff;
}